.youtube {
  display: flex;
  gap: 28px;
  margin-left: -64px;
  align-items: center;

  input {
    font-size: 20px;
    line-height: 110%;
    font-family: 'Akzidenz Grotesk';
    width: 430px;
  }
}