@import '/src/variables.scss';

.add_cocktail_btn {
  font-family: 'Akzidenz Grotesk';
  font-size: 24px;
  border-bottom: 1px solid $secondary;
  text-decoration: none;
  color: $secondary;
  display: inline-block;
  margin-bottom: 40px;
}

.cocktails_list {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 50px;

  .cocktail_wrapper {
    text-decoration: none;
    color: inherit;
  }
}

.my_masonry_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;

  &_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;

    >a {
      display: block;
      margin-bottom: 30px;
    }
  }
}