.wrapper {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .step {
    font-family: 'Baskerville';
    font-style: italic;
    font-size: 20px;
    margin-top: 5px
  }

  .text {
    font-family: 'Akzidenz-Grotesk Pro';
    font-size: 24px;
    line-height: 30px;
    margin-left: 15px;
  }
}