@import '/src/variables.scss';

.img_wrapper {
  aspect-ratio: 312 / 420;
  border: 1px solid $black;
  background: no-repeat center;
  background-size: cover;

  .img {
    width: 100%;
    height: 100%;
  }
}