.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.control {
  border-color: white;
}

.select {
  &-control {
    &:hover {
      background-color: yellowgreen;
    }
  }
}
