@import 'src/assets/css/variables.scss';

.photo_uploader {
  display: flex;
  gap: 28px;
  margin-left: -64px;
  align-items: center;

  .label {
    font-family: 'Akzidenz Grotesk';
    font-size: 22px;
    border-bottom: 1px solid $black;
    cursor: pointer;
    margin: 0;
  }

  .input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}

.prewiew {
  margin-top: 8px;
  width: 100%;
  max-width: 268px;
}