.title {
  text-align: center;
  font-family: 'Stravinsky';
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.SK_Zweig {
  font-family: 'SK Zweig Rounded';
}