@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('./assets/fonts/AkzidenzGroteskPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('./assets/fonts/AkzidenzGroteskPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('./assets/fonts/AkzidenzGroteskPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('./assets/fonts/AkzidenzGroteskPro-Cond.ttf') format('truetype');
  font-weight: 400;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('./assets/fonts/AkzidenzGroteskPro-Cond-Light.woff') format('woff');
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('./assets/fonts/Baskerville-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lighthaus';
  src: url('./assets/fonts/Lighthaus.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SK Zweig Rounded';
  src: url('./assets/fonts/SKZweigRoundedLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stravinsky';
  src: url('./assets/fonts/Stravinsky-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}